body {
	background-color: #4F4F4F; 
	margin: 0;
}

.card {
	background-color: #333333;
	margin: 0;
	height: 13em;
	width: 100%;
	position: relative;
}

/*Divisões do Cabeçario*/
.divLogo {
	float: left;
	margin: 50px;
	margin-right: 25px;
}

.divPesquisa {
	float: left;
	margin: 50px;
}

.divLogin {
	float: right;
	margin: 50px;
}

.divNav {
	float: center;
}

.logo {
	height: 65px;
	width: 190px;
}

/*Formulários de texto*/
.formPesquisa {
	float: left;
}

.formFormat {
	background-color: #e6e6e6;
	border-radius: 5px;
	height: 40px;
	font-size: 20px;
	border: none;
    padding-top: 7.5px;
    padding-left: 10px;
    margin-right: 0px;
}

.formFormatPequisa {
	width: 750px;
	color: #ff6600;
	border-bottom: 5px solid #ff6600;
}

.formFormatLogin {
	width: 150px;
	color: teal;
	border-bottom: 5px solid teal; 
}

/* Botões */
.btn {
	color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}

.btnPesquisar {
	width: 60px;
	height: 55px;
	border-image-width: 10px;
	border-radius: 5px;
	font-size: 25px;
	background-color: #ff6600;
	margin-left: 0px;

}

.btnLogin {
	height: 55px;
	width: 100px;
	font-size: 20px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: teal;
	margin-left: 0px;
}

/* Menu de Navegação */

/*.nav {
	float: left;
}*/