body {
	background-color: #4F4F4F; 
	margin: 0;
	font-family: Oxygen;
}

.card {
	background-color: #333333;
	margin: 0;
	height: 200px;
	width: 100%;
	position: relative;
}

.cardBlock {
	margin-left: 50px;
	margin-top: 50px;
}

.logo {
	height: 70px; 
	width: 200px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;	
}

.formPesquisa {
	float: left;
}

.formLogin {
	float: right;
	margin-left: 0px;
	margin-right: 20px
}

.formFormat {
	background-color: #e6e6e6;
	border-radius: 5px;
	height: 40px;
	font-size: 20px;
	border: none;
    padding-top: 10px;
    padding-left: 10px;
}

.formFormatPequisa {
	width: 40em;
	color: #ff6600;
	border-bottom: 5px solid #ff6600;
}

.formFormatLogin {
	width: 8em;
	color: teal;
	border-bottom: 5px solid teal; 
}
input[type=button]{
	color: white;
    padding: 14px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btnPesquisar {
	background-color: #ff6600;

}

.btnLogin {
	background-color: teal;
}