* {
	overflow: auto;
}

body {
	background-color: #4F4F4F; 
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	margin: 10px;
}

.card {
	background-color: #333333;
	margin: 0;
	height: auto;
	width: 100%;
	position: relative;
	overflow: auto;
}

.card2 {
	height: auto;
	overflow: auto;
}

/*Divisões do Cabeçalho*/
.divLogo {
	float: left;
	margin: 3rem;
	margin-right: 1.5rem;
	margin-bottom: 0.5rem;
	width: 14%;
	overflow: auto;
}

.divPesquisa {
	float: left;
	margin: 3rem;
	margin-bottom: 0.5rem;
	width: 40%;
	margin-right: 0;
	overflow: auto;
}

.divLogin {
	float: right;
	margin: 3rem;
	margin-bottom: 0.5rem;
	width: 27%;
	overflow: auto;
}

.divNav {
	float: left;
	margin-left: 37.5rem;
	overflow: auto;
}

.divSlider {
	position: absolute;
	overflow: auto;
}

/* Logo */

.logo {
	height: 4rem;
	width: 100%;
}

/* Formatação de formulários de texto */

.formFormat {
	background-color: #e6e6e6;
	border-radius: 5px;
	height: 2.5rem;
	font-size: 20px;
	border: none;
    padding-top: 0.4375rem;
    padding-left: 0.625rem;
    margin-right: 0px;
}

.formFormatPequisa {
	width: 88%;
	color: #ff6600;
	border-bottom: 5px solid #ff6600;

}

.formFormatLogin {
	width: 35%;
	color: teal;
	border-bottom: 5px solid teal;
	font-size: 13px; 
}

.formFormatEmail {
	height: 35px;
}

/* Botões */
.btn {
	color: white;
    text-decoration: none;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btnPesquisar {
	width: 9%;
	height: 3.438rem;
	border-image-width: 5%;
	border-radius: 5px;
	font-size: 25px;
	background-color: #ff6600;
	margin-left: 0px;

}

.btnLogin {
	height: 3.438rem;
	width: 20%;
	font-size: 20px;
	padding-left: 0.0625rem;
	padding-right: 0.0625rem;
	background-color: teal;
	margin-left: 0px;
}

.btnEmail {
	height: 43px;
	color: white;
	margin: 0;
	padding-top: 10px;
	background-color: red;

}

/* Menu de Navegação */

.nav {
	float: left;
	padding: 0.3125rem;
	margin: 1rem;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
}

.navProduto {
	border-bottom: 0.3125rem solid white;
}

.navSolucao {
	border-bottom: 0.3125rem solid white;	
}

.navSuporte {
 	border-bottom: 0.3125rem solid white;
}

/* Formatação dos links do Menu de Navegação */

.linkFormat {
	font-size: 2rem;
}

.linkFormatProduto {
	color: white;
}

.linkFormatSolucao {
	color: white;
}

.linkFormatSuporte {
	color: white;	
}

/* Slider */

.slider {
    display: block;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
	visibility: hidden;
}

.slider input {
    display: none;
}

 .slider label {
    background-color: none;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 44.5%;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.imgSeta {
	height: 32px;
	width: 32px;
	position: absolute;	
}

.imgSetaEsquerda {
	margin-left: 50%;
}

.imgSetaDireita {

}

/* Rodapé */
.rodape{
	position: relative;
	width: 100%;
	float: bottom;
	background-color: #333333;
	height: auto; 
}

.divRedes{
	float: left;
	margin: 15px;
	
}

.divLinks {
	float: center;
	margin-top: 75px;

}

.divEmail{
	float: right;
	margin: 10px;
	height: auto;
}

.direitos {
	color: white;
	margin-bottom: 0;
}

.label {
	color: red;
	float: left;
}

